.header{
	margin-left: -15px;
	margin-right: -15px;
	margin-bottom: 20px;

}

.container {
	max-width: 800px;
}

#main {
	border-top: 1px solid #e5e5e5;
	padding-top: 20px;
}
.grid-block{
	
}

#symbol-info{
	background-color: #d33431;
}

#symbol{
	width: 140px;
	height: 140px;
	margin: 10px 10px;
	background: red;
	-moz-border-radius: 70px;
	-webkit-border-radius: 70px;
	border-radius: 70px;
}
#time-info{
	background-color: #05c6d8;
	/* da005e d33431*/
}
#max-info{
	background-color: #7fbf33;
}
#dust-info{
	background-color: #fbca01;
}

.text-val{
	margin-left: 0px;
}
.footer{
	color: #777;
}
