/*
 * Global Area
 */

.row
{
	color: #463737;
}

.fa {
	font-size: 120px;
	margin-top: 10px;
}

.idi-string {
	font-size: 50px;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
@media (max-width: 767px){
	.footer{margin-top:20px;}
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}


#symbol-info{
	/* background-color: #d33431; *//*Severe background color*/
	/* background-color: #e8703e; */ /*Not Bad background color*/
	font-weight: bold;
}
.data-box {
	font-size: 50px;
}
#dust-info{

}

.footer{
	color: #777;
}
